main{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
form{
    display: flex;
    justify-content: space-evenly;
    width: 65em;
}
#buttons{
    margin-top: 2em;
}
#buttons>input{
    height: 3em;
    width: 12em;
    border: 1px solid #0583f2;
    cursor: pointer;
}
h2{
    margin-top: 1.5em;
}
table{
    margin-top: 1.5em;
    width: 80em;
}
td{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: solid black 1px;
    text-align: center;
    font-weight: bolder;
}