.time{
    background-color: #0000ffbe;
    height: 1em;
    width: 3em;
    border: solid black 1px;
}
#animated-timer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#timer{
    font-size: x-large;
}
#t10{
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}
#t1{
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}